@import url(//fonts.googleapis.com/css?family=Karla:400);

/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
pre, textarea {
  overflow: auto
}

[hidden], audio:not([controls]), template {
  display: none
}

details, main, summary {
  display: block
}

input[type=number] {
  width: auto
}

input[type=search] {
  -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

progress {
  display: inline-block
}

small {
  font-size: 75%
}

textarea {
  resize: vertical
}

[unselectable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

*, ::after, ::before {
  box-sizing: inherit;
  border-style: solid;
  border-width: 0
}

* {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0
}

::after, ::before {
  text-decoration: inherit;
  vertical-align: inherit
}

:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  cursor: default;
  font: 16px/1.5 sans-serif;
  text-rendering: optimizeLegibility
}

a {
  text-decoration: none
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle
}

button, input, select, textarea {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  min-height: 1.5em
}

code, kbd, pre, samp {
  font-family: monospace, monospace
}

nav ol, nav ul {
  list-style: none
}

select {
  -moz-appearance: none;
  -webkit-appearance: none
}

select::-ms-expand {
  display: none
}

select::-ms-value {
  color: currentColor
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

::-moz-selection {
  background-color: #B3D4FC;
  text-shadow: none
}

::selection {
  background-color: #B3D4FC;
  text-shadow: none
}

@media screen {
  [hidden~=screen] {
    display: inherit
  }

  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important
  }
}

/* end sanitize.css */

body {
  font-family: 'Whitney SSm A', 'Whitney SSm B', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #2A5A74;
  letter-spacing: -.5px;
  background: #E9E9E9;
  -webkit-font-smoothing: antialiased;
}

.logo {
  font-weight: 300;
  text-align: center;
  font-size: 48px;
  color: #2A5A74;
  margin-top: 20px;
}

.subtitle {
  font-size: 20px;
}

.container {
  position: relative;
  margin: 20px auto 60px auto;
  width: 800px;
}

a, a:visited, a:hover, a:link, a:active {
  color: rgba(100, 100, 100, 1);
  text-decoration: none;
  border-bottom: dotted rgba(100, 100, 100, .8) 1px;
  outline: none;
}

a:hover {
  background: rgba(73, 159, 203, 0.24);
  border-bottom: none;
  transition: background 0.05s, border-bottom 0.05s;
  -moz-transition: background 0.05s, border-bottom 0.05s;
  -webkit-transition: background 0.05s, border-bottom 0.05s;
  -o-transition: background 0.05s, border-bottom 0.05s;
}

a {
  color: gray;
}

h2 {
  font-size: 26px;
  color: rgb(100, 100, 100);
  line-height: 1.5;
  font-weight: 400;

}

p {
  font-size: 16px;
  color: rgba(100, 100, 100, .8);
  line-height: 1.7;
  margin-bottom: 15px;
  font-weight: 400;
}

code {
  color: rgb(80, 80, 80);
  font-size: 16px;
  padding: 0 2px;
}

hr {
  border: 2px solid rgb(191, 191, 191);
}

h1 {
  font-size: 61px;
  position: relative;
  display: inline;
  color: rgb(108, 108, 108);
}

.launchform {
  text-align: center;
}

.launchbutton {
  display: inline-block;
}

.button-primary {
  margin: 20px;
  text-align: center;
  background: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #2A5A74;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  color: #2A5A74;
  font-size: 20px;
  font-family: 'Sentinel SSm A', 'Sentinel SSm B', 'Whitney SSm A', 'Whitney SSm B', sans-serif;
  background-image: url(../assets/logo.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 5%;
  padding: 14px 14px 14px 50px;
}

.button-primary:hover {
  background: #2A5A74;
  color: #fff;
  background-image: url(../assets/logowhite.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 5%;
  -webkit-transition: all, 200ms;
  -moz-transition: all, 200ms;
  -o-transition: all, 200ms;
  transition: all, 200ms;
}

.button-error {
  margin-top: 50px;
  padding-left: 60px;
  background-color: #fff;
}

.accounts .container {
  height: inherit;
}

.account-item {
  background: #fff;
  padding: 7px 0px 7px 0px;
  margin-top: -1px;
  font-size: 12px;
  font-weight: 100;
}

.explainer {
  background: #fff;
  padding: 20px 30px;
  margin-top: -1px;
  font-size: 12px;
  font-weight: 100;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.sum-total {
  border-top: 1px solid rgba(40, 90, 116, .4);
  margin-top: 5px;
}

.acctname, .total {
  font-size: 20px;
  font-weight: 400;
}

.acctnum,
.rtgnum {
  font-size: 14px;
}

.balance {
  float: right;
  font-size: 20px;
  font-weight: 400;
}

.balance.negative {
  color: #ee4850;
}

.toggle {
  width: 200px;
  margin: 15px 10px 10px 10px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.toggle:first-of-type {
  border-right: dotted rgba(100, 100, 100, 0.4) 1px;
}

.radiobutton {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

input {
  margin-top: 20px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label:hover {
  cursor: pointer;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 0px 8px 2px 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: solid 1px #2A5A74;
}

input[type="radio"]:checked + label span {
  background-color: #2A5A74;
  border: solid 1px #2A5A74;
  -webkit-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear
}

form {
  color: #2A5A74;
  padding-bottom: 10px;
}

.subtext {
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  color: #777;
  letter-spacing: 0.5px;
  margin-top: -10px;
}

.open-code-link {
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.code-section {
  display: none;
}

.code-section pre {
  margin-top: -20px;
}

.hljs {
  padding: 12px 0 12px 12px;
  background: rgba(182, 196, 209, 0.07);
  border: 1px solid rgba(182, 196, 209, 0.4);
  border-top-color: rgba(182, 196, 209, 0.6);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  font-size: 14px;
  font-family: monospace, Menlo, serif;
  color: #2d353f;
}

.hljs .hljs-title {
  font-weight: 400;
  color: #3e4fb2;
}

.hljs .hljs-attribute {

}

.hljs .hljs-value {
  color: #16a026;
}

/* Mobile Styles */

@media (max-width: 670px) {
  .container {
    width: 90%;
    padding: 5px;
    box-sizing: border-box;
    margin: 20px auto;
  }

  .explainer {
    padding: 20px;
  }

  .logo {
    top: -46px;
    font-size: 2em;
  }

  h2 {
    padding-top: 10px;
    font-size: 2em;
    line-height: 1.4;
  }

  .dual-button span.radio-button {
    width: 20px;
    font-size: 14px;
    padding: 10px 71px 10px 45px;
    line-height: 1;
    text-align: center;
  }

  h1 {
    font-size: 0.8em;
    display: block;
    line-height: 0;
  }

  .account-item div {
    font-size: 16px;
  }

  .account-item span {
    font-size: 0.5em;
    float: none;
  }

  .toggle:first-of-type {
    border-right: none;
  }

  .launchbutton {
    position: relative;
    margin-top: 10px;
    width: 100%;
  }

  .launchbutton input {
    margin: 0 0 20px 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
  }
}
